frames/
particlesim.dist/_bz2.pyd
particlesim.dist/_cffi_backend.pyd
particlesim.dist/_ctypes.pyd
particlesim.dist/_decimal.pyd
particlesim.dist/_elementtree.pyd
particlesim.dist/_hashlib.pyd
particlesim.dist/_lzma.pyd
particlesim.dist/_multiprocessing.pyd
particlesim.dist/_queue.pyd
particlesim.dist/_socket.pyd
particlesim.dist/_ssl.pyd
particlesim.dist/_uuid.pyd
particlesim.dist/apple.obj
particlesim.dist/appleAinner.obj
particlesim.dist/appleAouter.obj
particlesim.dist/libcrypto-1_1.dll
particlesim.dist/libffi-7.dll
particlesim.dist/libfreetype-6.dll
particlesim.dist/libjpeg-9.dll
particlesim.dist/libpng16-16.dll
particlesim.dist/libssl-1_1.dll
particlesim.dist/particlesim.exe
particlesim.dist/pyexpat.pyd
particlesim.dist/python3.dll
particlesim.dist/python310.dll
particlesim.dist/sdl2_image.dll
particlesim.dist/sdl2_mixer.dll
particlesim.dist/sdl2_ttf.dll
particlesim.dist/sdl2.dll
particlesim.dist/select.pyd
particlesim.dist/unicodedata.pyd
particlesim.dist/vcruntime140.dll
particlesim.dist/zlib1.dll
particlesim.dist/numpy/.libs/libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
particlesim.dist/numpy/core/_multiarray_tests.pyd
particlesim.dist/numpy/core/_multiarray_umath.pyd
particlesim.dist/numpy/fft/_pocketfft_internal.pyd
particlesim.dist/numpy/linalg/_umath_linalg.pyd
particlesim.dist/numpy/random/_bounded_integers.pyd
particlesim.dist/numpy/random/_common.pyd
particlesim.dist/numpy/random/_generator.pyd
particlesim.dist/numpy/random/_mt19937.pyd
particlesim.dist/numpy/random/_pcg64.pyd
particlesim.dist/numpy/random/_philox.pyd
particlesim.dist/numpy/random/_sfc64.pyd
particlesim.dist/numpy/random/bit_generator.pyd
particlesim.dist/numpy/random/mtrand.pyd
particlesim.dist/pygame/_freetype.pyd
particlesim.dist/pygame/base.pyd
particlesim.dist/pygame/bufferproxy.pyd
particlesim.dist/pygame/color.pyd
particlesim.dist/pygame/constants.pyd
particlesim.dist/pygame/display.pyd
particlesim.dist/pygame/draw.pyd
particlesim.dist/pygame/event.pyd
particlesim.dist/pygame/font.pyd
particlesim.dist/pygame/gfxdraw.pyd
particlesim.dist/pygame/image.pyd
particlesim.dist/pygame/imageext.pyd
particlesim.dist/pygame/joystick.pyd
particlesim.dist/pygame/key.pyd
particlesim.dist/pygame/mask.pyd
particlesim.dist/pygame/math.pyd
particlesim.dist/pygame/mixer_music.pyd
particlesim.dist/pygame/mixer.pyd
particlesim.dist/pygame/mouse.pyd
particlesim.dist/pygame/pixelarray.pyd
particlesim.dist/pygame/pixelcopy.pyd
particlesim.dist/pygame/rect.pyd
particlesim.dist/pygame/rwobject.pyd
particlesim.dist/pygame/scrap.pyd
particlesim.dist/pygame/surface.pyd
particlesim.dist/pygame/surflock.pyd
particlesim.dist/pygame/time.pyd
particlesim.dist/pygame/transform.pyd
particlesim.dist/pymunk/_chipmunk.pyd
